<h1><%= @memo.title %></h1>
<p><%= @memo.content %></p>
<p>作成日時: <%= @memo.created_at %></p>
<p>更新日時: <%= @memo.updated_at %></p>
<a href="/memos">戻る</a> |
<a href="/memos/<%= @memo.id %>/edit">編集</a>
<form action="/memos/<%= @memo.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">削除</button>
</form>
